@charset "utf-8";

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header.masthead {
    padding: 60px 0;
    position: relative;
    width: 100%;
    z-index: 9999;
}
.main-logo{
    margin-left: 10px;
}
.link-show-poster{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  z-index: 9000;
}
.link-show-poster h1{
  font-size: 240px;
  text-align: center;
}

/* Mobile Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul.slimmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom:50px;
    width: 100%;
    background-color: #fff;
}

ul.slimmenu li {
    position: relative;
    display: inline-block;
    background-color: #fff;
}

ul.slimmenu > li {
    margin-right: -5px;
}

ul.slimmenu > li:first-child {
    border-left: 0;
}

ul.slimmenu > li:last-child {
    margin-right: 0;
}

ul.slimmenu li a {    
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    padding: 6px 0;
    text-shadow: none;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

ul.slimmenu li a > i {
    display: none !important;
}

ul.slimmenu li:hover {
    background-color: #eee;
    text-decoration: none;
}

ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}

ul.slimmenu li ul li {
    background-color: #fff;
    padding-left: 0px;
    text-align: center;
}

ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}

ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

ul.slimmenu.collapsed li {
    border-top: solid 1px #eee;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li:last-child {
    border-bottom: solid 1px #eee;
}

ul.slimmenu.collapsed li a {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.slimmenu.collapsed li .sub-collapser, 
ul.slimmenu > li > a:first-child{    
    font-size: 12px;
    line-height: 21px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
    padding: 0;
    list-style: none;
}


/*MOBILE ONLY NAVIGATION (SLIM MENU)*/
.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu-collapser {
    position: relative;
    background-color: #FFF;
    background-size: auto 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #444;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 18px;
   /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #eee;
    color: #000;
}

.collapse-button .icon-bar {
    background-color: #000;
    border-radius: 1px 1px 1px 1px;
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom:50px;
    width: 100%;
    background-color: #fff;
}

ul.slimmenu li {
    position: relative;
    display: inline-block;
    background-color: #fff;
}

ul.slimmenu > li {
    margin-right: -5px;
}

ul.slimmenu > li:first-child {
    border-left: 0;
}

ul.slimmenu > li:last-child {
    margin-right: 0;
}

ul.slimmenu li a {    
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    padding: 6px 0;
    text-shadow: none;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

ul.slimmenu li a > i {
    display: none !important;
}

ul.slimmenu li:hover {
    background-color: #eee;
    text-decoration: none;
}

ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}

ul.slimmenu li ul li {
    background-color: #fff;
    padding-left: 0px;
    text-align: center;
}

ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}

ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

ul.slimmenu.collapsed li {
    border-top: solid 1px #eee;
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li:last-child {
    border-bottom: solid 1px #eee;
}

ul.slimmenu.collapsed li a {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.slimmenu.collapsed li .sub-collapser, 
ul.slimmenu > li > a:first-child{    
    font-size: 12px;
    line-height: 21px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
    padding: 0;
    list-style: none;
}
.menu-collapser {
    background-image: url("../images/logo.png");
}

nav.mastnav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav.mastnav ul li a{
    font-weight: normal;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
nav.mastnav ul li a:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

nav.mastnav,
nav.mastna:hover{
}
nav.mastnav ul{
  float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
  -webkit-transition: all .4s linear;
     -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
     -o-transition: all .4s linear;
      transition: all .4s linear;
}
nav.mastnav ul:hover{
  -webkit-transition: all .4s linear;
     -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
     -o-transition: all .4s linear;
      transition: all .4s linear;
  
}
nav.mastnav ul li{
  margin-bottom: 4px;
}
.sub-menu{
  display: none;
  margin-bottom: 10px;
}
.sub-menu a{
  display: block;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1px;
}
.main-link{
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: solid 2px;
}

/* WORKS */
.works-filter-wrap{
    display: none;
}
.filter-notification span, .menu-notification span{
    font-size: 34px;
    float: right;
    margin-left: 20px;
}
.works-filter{
  list-style: none;
  padding: 0;
  margin: 0;
}
.works-filter li{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.works-filter li a{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
}
.works-container{
    padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.works-filter li:last-child:after{
    display: none;
}

 .works-item{
  overflow: hidden;
 }
 .works-item a{
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 100;
            text-align: center;
            text-decoration: none !important;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item a:hover{
            text-decoration: none !important;
            opacity:1;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .info a:hover{
            cursor: url("../images/plus.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .zoom a:hover{
            cursor: url("../images/zoom.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item-inner{
            text-align: left;
            padding: 0 100px;
        }
        .works-thumbnails-view{
          margin-top: 0px;
        }
        .works-thumbnails-view .works-item-inner{
            text-align: left;
            padding: 40px;
        }
        .works-thumbnails-view .works-item-inner p > span {
            font-size: 12px;
            letter-spacing: normal;
            line-height: 24px;
            letter-spacing: 2px;
            margin-top: 0;
            text-transform: uppercase;
        }
        .works-item-inner h3 > span{ 
            font-size: 12px;
            letter-spacing: normal;
            line-height: 19px;
            text-transform: none;
            margin-bottom: 5px;
            border-bottom: solid 2px;
            font-weight: 200;
        }
        .works-item-inner p > span{  
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 8px;
            margin-top: 0px;
            text-transform: uppercase;
        }
        .works-item a:hover 
        .works-item-inner h3{ 
        }
        .works-item a:hover 
        .works-item-inner p{  
        }

.works-item-fade{
  opacity: 0.1;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.works-item-fade a{
  display: none !important;
}
.works-masonry-container{
    padding: 0;
}
.works-masonry-container .works-item-one-third {
  margin: 0 !important;
  padding: 0 !important;
  width: 33.3% !important;
}
.works-masonry-container .works-item-two-third {
  margin: 0 !important;
  padding: 0 !important;
  width: 66.6% !important;
}
.works-masonry-container .works-item-one-half {
  margin: 0 !important;
  padding: 0 !important;
  width: 50% !important;
}
.works-masonry-container .works-item-one-fourth {
  margin: 0 !important;
  padding: 0 !important;
  width: 25% !important;
}
.works-masonry-container .works-item-one-sixth {
  margin: 0 !important;
  padding: 0 !important;
  width: 16.66% !important;
}
.works-masonry-container .works-item-full-width {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.works-masonry-container .works-item-one-third-spaced{
  margin: 1% !important;
  padding: 0 !important;
  width: 31.3% !important;
}
.works-masonry-container .works-item-one-half-spaced{
  margin: 1% !important;
  padding: 0 !important;
  width: 48% !important;
}
.works-masonry-container .works-item-two-third-spaced{
  margin: 1% !important;
  padding: 0 !important;
  width: 64.6% !important;
}
.works-masonry-container .works-item-one-fourth-spaced{
  margin: 1% !important;
  padding: 0 !important;
  width: 23% !important;
}
.works-masonry-container .works-item-one-sixth-spaced{
  margin: 1% !important;
  padding: 0 !important;
  width: 14.66% !important;
}







@media (max-width: 992px) {
	.mobile-nav {
        display: block;
    }
}